<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNyDwQhwwCAkIxihB56J4s65ly9Zr-SR4</string>
	<key>GCM_SENDER_ID</key>
	<string>230641647448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tunepruners.cuejam</string>
	<key>PROJECT_ID</key>
	<string>cuejam-abfc1</string>
	<key>STORAGE_BUCKET</key>
	<string>cuejam-abfc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230641647448:ios:704485a5f24532310c6f2d</string>
</dict>
</plist>